<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add-Student</title>
</head>
    <h2>Sumbang Buku</h2>
<body>
    <form action="/books/add" method="POST">
        <div>
            <label>TITLE</label>
            <input id="book_name" name="book_name" />
        </div>
        <div>
            <label>Author</label>
            <input id="author" name="author" />
        </div>
        <div>
            <label>Genre</label>
            <input id="genre" name="genre" />
        </div>
        
        <input type="submit" value="Submit!!" />
    </form>
    <a href="/">back home</a>
</body>
</html>