<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit-Book</title>
</head>
    <h2>Edit Book Form</h2>
<body>
    <form action="/books/<%= data.id%>/edit" method="POST">
        <div>
            <label>Title</label>
            <input id="title" name="title" value="<%= data.book_name%>"/>
        </div>
        <div>
            <label>Author</labe>
            <input id="author" name="author" value="<%= data.author%>" />
        </div>
        <div>
            <label>Genre</label>
            <input id="genre" name="genre" value="<%= data.genre %>" />
        </div>
        <input type="submit" value="Submit!!" />
    </form>
</body>
</html>