<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Homepage</h1>
    <a href="/homepage/logout">Logout</a>
</body>
<div>
    <a href="/books">List Buku</a>
</div>
<div>
    <a href="/books/borrow">Buku yang sedang di pinjam</a>
</div>
</html>