<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Register</h1>
    <form>
        <label>Username</label>
        <label>Password</label>
        <label>Email</label>
        <label>Phone Number</label>
    </form>
</body>
</html>